body {
  background-color:white;
}

h1 {
  font-size:45px;
  color:#686868;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.box {
  background-color:white;
  height:300px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
}

.tiles {
  width:400px;
}

.tile {
  width:87px;
  height:84px;
  border:none;
  border-radius:4px;
  margin-left:5px;
  cursor:pointer;
  font-size:45px;
  color:#686868;
  background-color:#E0E0E0;
  border:#AAAAAA 2px solid;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
