body {
  background-color:white;
}

h1 {
  position: relative;
  top: 10px;
  font-size:45px;
  color:#686868;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

h2 {
  font-size:20px;
  color:#686868;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.box {
  background-color:white;
  height:370px;
  width:290px;
  margin-left: auto;
  margin-right: auto;
}

.tiles {
  width:290;
  position: relative;
  top: -15px;
}

.tile {
  width:87px;
  height:84px;
  border:none;
  border-radius:4px;
  cursor:pointer;
  font-size:45px;
  color:#686868;
  background-color:#E0E0E0;
  border:#AAAAAA 2px solid;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.button {
  position: relative;
  top: -10px;
  width: 270px;
  height: 30px;
  border:none;
  border-radius:4px;
  cursor:pointer;
  color:#686868;
  background-color:#E0E0E0;
  border:#AAAAAA 1px solid;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.message {
  font-size:30px;
  color:#686868;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.scores {
  font-size:16px;
  color:#686868;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
